a{
  text-decoration:none;
  color:inherit;
}

body, p, div {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  list-style:none;
}

/*
.app {
  display:flex;
  height:100vh;
  justify-content:center;
  align-items:center;
}
*/

.app-header > p {
  font-size:4rem;
}

.navbar{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  color:#000;
  z-index:1;
}

.navbar > ul {
  display:flex;
  justify-content:space-between;
  padding:1rem 2rem;
  margin:0;
}

.navbar > ul > li > a{
  display:flex;
  align-items:center;
}

.navbar a img.home{
  width:1.25rem;
  height:1.25rem;
  padding:0 0.5rem 0 0;
}

.navbar img.language-icon{
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 0.5rem 0 0;
}

.navbar li.login-button{
  border:1px solid #000;
  border-radius:0.25rem;
  padding:0.5rem 1.5rem;
  transition:0.25s;
  font-weight:500;
}

.navbar li.login-button:hover{
  background:#000;
  color:#fff;
}

.landing{
  display:flex;
  height:100vh;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.login-page{
  display:flex;
  height:100vh;
  /*
  justify-content:center;
  align-items:center;
  background-image:url(images/login_background.jpg);
  background-size:cover;
  background-repeat:none;
  flex-direction:column;
  */
}

.login-page > .navbar{
  color:#fff;
}

.login-wrapper{
  display:flex;
  width:100vw;
}

.login-wrapper > .company-name{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:#000;
  color:#fff;
  flex:1;
}

.login-wrapper > .company-name h2{
  font-size:3.5rem;
  padding:0;
  margin:0;
}

.login-wrapper > .company-name h3{
  font-size:2rem;
  padding:0;
  margin:0;
}

.login-wrapper > .login-form > form > h2{
  padding:0;
  margin:0;
}

.login-wrapper > .login-form{
  display:flex;
  flex:1;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin:1rem;
  width:300px;
}

.login-wrapper form .input-box{
  display:flex;
  flex-direction:column;
  padding:1.5rem 0 0 0;
  position:relative;
}

.login-wrapper form label{
  font-size:0.75rem;
  color:#333;
  padding:0 0 0.25rem 0.25rem;
  font-weight:bold;
}

.login-wrapper form input{
  font-size:1rem;
  border:1px solid #ccc;
  border-radius:0.25rem;
  padding:0.5rem 2.5rem 0.5rem 1rem;
}

.login-wrapper form .input-box img{
  height:1rem;
  width:1rem;
  position:absolute;
  right:1rem;
  top:65%;
}

.login-wrapper .login-form form .remember-forgot{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:1rem 0;
  font-size:0.75rem;
}

.login-wrapper .login-form form .remember-forgot label{
  font-size:0.75rem;
  display:flex;
  align-items:center;
  padding:0;
  font-weight:normal;
}

.login-wrapper .login-form form .remember-forgot a:hover{
  text-decoration:underline;
}

.login-wrapper form a button{
  width:100%;
  font-size:1rem;
  border:none;
  background:#000;
  color:#fff;
  padding:0.75rem 1rem;
  border-radius:0.25rem;
  transition:all 0.25s;
  border:1px solid #333;
}

.login-wrapper form a button:hover{
  background:#fff;
  color:#000;
}

.login-wrapper form a button.login-qr{
  margin:1rem 0;
  background:#fff;
  color:#000;
  position:relative;
}

.login-wrapper form a img.icon.qr{
  position:absolute;
  height:2rem;
  width:2rem;
  right:0.5rem;
  top:0.3rem;
}

.login-wrapper form a button.login-qr:hover{
  filter:invert(1);
}


.login-wrapper .login-form .login-register{
  display:flex;
  justify-content:center;
  padding:2rem 0;
  font-size:0.75rem;
  gap:0.5rem;
}

.login-wrapper .login-form .login-register a{
  font-weight:bold;
}

.login-wrapper .login-form .login-register a:hover{
  text-decoration:underline;
}

.error404{
  display:flex;
  height:80vh;
  justify-content:center;
  align-items:center;
  font-size:3rem;
  font-weight:normal;
  flex-direction:column;
}

.error404 .sad{
  transform:rotate(30deg) scale(3);
  /*font-size:8rem;*/
  padding:0;
  margin:2rem;
}

.error404 p{
  font-size:2rem;
  padding:1rem;
  color:#bbb;
}

.error404 p.messed{
  font-size:1.5rem;
  color:#000;
}



.logo{
  padding:0;
  margin:0;
}

.library .navbar{
  /*background:transparent;
  backdrop-filter:blur(1rem);
  */
  background-color:#fff;

}

.library .wrapper{
  padding-top:70px;
  display:flex;
  height:100vh;
}

.library .listing{
  width:200px;
  background-color:#333;
  padding:0 2rem;
}

.library .shelves{
  flex:auto;
  display:flex;
  flex-wrap:wrap;
  padding:2rem;
  gap:3rem 3rem;
  background-color:#eee;
}

.book{
  width:170px;
  height:250px;
  background:#fff;
  border-radius:0.25rem;
  box-shadow:0 0 1rem #000;
}

.cover{
  width:170px;
  height:250px;
  border-radius:0.25rem;
  object-fit:cover;
}

.max{
  flex:5; /* 1:5 proportion built from parent flex */
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  flex-direction:column;
}

.max > div{
  font-size:3rem;
}

#say{
  display:none;
}
/*
.talkie{
  position:absolute;
  left:1rem;
  bottom:1rem;
}
*/
  /*-webkit-user-select: none;*/

/*
.talkie img:active {
  transform: scale(0.9, 0.9);
}
*/
  /*-webkit-touch-callout does not 'speak' when tapped, 
    this will cause user frustration, needs to respond immediately*/
    /*
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select:none;
    */

.talkie{
  display:flex;
}

.talkie img{
  object-fit:contain;
  height:calc(3rem + 3vw);
  padding-bottom:1rem;
}

.image-left{
  display:flex;
  height:100dvh;
}

.image-right{
  display:flex;
  height:100dvh;
  flex-direction:row-reverse;
}

.background{
  flex:1;
  display:flex;
}

.left{
  flex:1;
  object-fit:cover;
  max-width:100%;
}

.right{
  flex:1;
  object-fit:cover;
  max-width:100%;
}

.story-text{
  position:relative;
  flex:1;
  background-color:#dedede;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  /*font-size:3rem;*/
  font-size:4vw;
  padding:2vw;
}

.story-text > div{
  text-align:center;

  /*
  text-align:justify;
  text-justify: inter-word;
  */
}

.flourish{
  /*background: url("fallback.png") no-repeat center;*/
  background-size: contain;
  width:50%;
  height:2rem;
  background-repeat:no-repeat;
  border:none;
}

/* freepik vintage borders dividers */
.flourish.top{
  background-image: url("./images/testbooktemplate/flourish-top.svg");
}
.flourish.bottom{
  background-image: url("./images/testbooktemplate/flourish-bottom.svg");
}

footer{
  position:absolute;
  bottom:0;
  font-size:calc(1.5rem + 1vw);
  display:flex;
  width:100%;
  justify-content:space-between;
  align-items:flex-end;
}

.right-quarter-circle{
  width:calc(3rem + 6vw);
  height:calc(3rem + 6vw);
  border-radius:calc(3rem + 6vw) 0 0 0;
  background-color:rgba(196,196,196,0.5);
  border:none;
  cursor:pointer;
  display:flex;
  align-items:flex-end;
  justify-content:flex-end;
}

.left-quarter-circle{
  width:calc(3rem + 6vw);
  height:calc(3rem + 6vw);
  border-radius:0 calc(3rem + 6vw) 0 0;
  background-color:rgba(196,196,196,0.5);
  border:none;
  cursor:pointer;
  display:flex;
  align-items:flex-end;
  justify-content:flex-start;
}

.left-quarter-circle span, .right-quarter-circle span{
  font-size:calc(2rem + 3vw);
  padding:0 1vw 0 1vw;
  color:#333;
}


